jaxws-ri/tests/unit-rearch/src/client/dispatch/null_jaxb/config/HelloService.wsdl

<!--

    Copyright (c) 2013, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<definitions
  name="HelloTest"
  targetNamespace="http://helloservice.org/wsdl"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="http://helloservice.org/types"
  xmlns:tns="http://helloservice.org/wsdl">
  
  <types>
    <xsd:schema
        targetNamespace="http://helloservice.org/types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="HelloRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HelloResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HelloOneWayRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="HelloRequest">
    <part name="parameters" element="types:HelloRequest"/>
  </message>
  
  <message name="HelloResponse">
    <part name="parameters" element="types:HelloResponse"/>
  </message>  

  <message name="HelloOneWayRequest">
    <part name="parameters" element="types:HelloOneWayRequest"/>
  </message>

  <portType name="Hello">
    <operation name="hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>  
    <operation name="helloOneWay">
      <input message="tns:HelloOneWayRequest"/>
    </operation>  
  </portType>
  
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>      
    <operation name="helloOneWay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>      
  </binding>
    
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://localhost:8080/DLHelloService/jaxws/hello"/>
    </port>
  </service>
  
</definitions>
