jaxws-ri/tests/unit/testcases/mtom/issue_671/server/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 1997, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<definitions
    name="MTOMTestService"
    targetNamespace="http://example.org/mtom"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.org/mtom"
    xmlns:s="http://example.org/mtom"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://example.org/mtom"
               xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
               elementFormDefault="qualified">
                 <complexType name="XDoc">
                     <sequence>
                         <element name="doc1" type="base64Binary" xmime:expectedContentTypes="text/xml"/>
                     </sequence>
                 </complexType>
                <element name="XDocIn" type="s:XDoc"/>
                <element name="XDocOut" type="s:XDoc"/>

          </schema>
    </types>

    <message name="XDocInRequest">
        <part name="data" element="s:XDocIn"/>
    </message>
    <message name="XDocInResponse">
        <part name="result" element="s:XDocOut"/>
    </message>

     <portType name="Hello">
          <operation name="XDoc">
               <input message="tns:XDocInRequest"/>
               <output message="tns:XDocInResponse"/>
          </operation>
     </portType>

     <binding name="MTOMBinding" type="tns:Hello">
          <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="XDoc">
               <soap:operation soapAction=""/>
               <input>
                    <soap:body use="literal"/>
               </input>
               <output>
                    <soap:body use="literal"/>
               </output>
          </operation>
     </binding>

     <binding name="ProviderBinding" type="tns:Hello">
          <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="XDoc">
               <soap:operation soapAction=""/>
               <input>
                    <soap:body use="literal"/>
               </input>
               <output>
                    <soap:body use="literal"/>
               </output>
          </operation>
     </binding>

    <service name="HelloService">
        <port name="HelloPort" binding="tns:MTOMBinding">
            <soap:address location="http://foo:9999/bar"/>
        </port>
        <port name="HelloProviderPort" binding="tns:ProviderBinding">
            <soap:address location="http://foo:9999/bar"/>
        </port>
    </service>
</definitions>
