jaxws-ri/tests/unit-rearch/src/wsa/fromwsdl/delimiter/config/AddNumbers.wsdl

<!--

    Copyright (c) 2013, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<definitions name="AddNumbers" targetNamespace="urn:example.com" xmlns:tns="urn:example.com"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsp:Policy wsp:optional="true" wsu:Id="Addressing_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="urn:example.com">

            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="return" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="tns:addNumbersResponse"/>
            <element name="addNumbers2Response" type="tns:addNumbersResponse"/>

            <complexType name="addNumbers">
                <sequence>
                    <element name="number1" type="xsd:int"/>
                    <element name="number2" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbers" type="tns:addNumbers"/>
            <element name="addNumbers2" type="tns:addNumbers"/>

            <complexType name="AddNumbersFault">
                <sequence>
                    <element name="detail" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="AddNumbersFault" type="tns:AddNumbersFault"/>

            <complexType name="TooBigNumbersFault">
                <sequence>
                    <element name="detail" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="TooBigNumbersFault" type="tns:TooBigNumbersFault"/>
        </xsd:schema>
    </types>
    <message name="addNumbers">
        <part name="parameters" element="tns:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="tns:addNumbersResponse"/>
    </message>
    <message name="addNumbers2">
        <part name="parameters" element="tns:addNumbers2"/>
    </message>
    <message name="addNumbers2Response">
        <part name="result" element="tns:addNumbers2Response"/>
    </message>
    <message name="addNumbersFault">
        <part name="AddNumbersFault" element="tns:AddNumbersFault"/>
    </message>
    <message name="tooBigNumbersFault">
        <part name="TooBigNumbersFault" element="tns:TooBigNumbersFault"/>
    </message>
    <portType name="AddNumbersPortType">
        <operation name="addNumbers">
            <input message="tns:addNumbers" name="add"/>
            <output message="tns:addNumbersResponse" name="addResponse"/>
            <fault name="addFault" message="tns:addNumbersFault"/>
            <fault name="tooBigFault" message="tns:tooBigNumbersFault"/>
        </operation>
        <operation name="addNumbers2">
            <input message="tns:addNumbers2" name="add" wsaw:Action="urn:addNumbers"/>
            <output message="tns:addNumbers2Response" name="addResponse" wsaw:Action="urn:addNumbersResponse"/>
            <fault name="addFault" message="tns:addNumbersFault" wsaw:Action="urn:addNumbersFault"/>
            <fault name="tooBigFault" message="tns:tooBigNumbersFault" wsaw:Action="urn:tooBigNumbersFault"/>
        </operation>
    </portType>
    <binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
        <wsp:PolicyReference URI="#Addressing_policy"/>
        <wsaw:UsingAddressing wsdl:required="false"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addFault">
                <soap:fault name="addFault" use="literal"/>
            </fault>
            <fault name="tooBigFault">
                <soap:fault name="tooBigFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addFault">
                <soap:fault name="addFault" use="literal"/>
            </fault>
            <fault name="tooBigFault">
                <soap:fault name="tooBigFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AddNumbersService">
        <port name="AddNumbersPort" binding="tns:AddNumbersBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
