jaxws-ri/tests/unit-rearch/src/wsa/fromwsdl/dispatch/config/AddNumbers.wsdl

<!--

    Copyright (c) 2013, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<definitions name="AddNumbers" targetNamespace="http://example.com/" xmlns:tns="http://example.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <types>
        <xsd:schema xmlns:tns="http://example.com/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="http://example.com/">

            <complexType name="addNumbersResponse">
                <sequence>
                    <element name="return" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbersResponse" type="tns:addNumbersResponse"/>
            <element name="addNumbers2Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers3Response" type="tns:addNumbersResponse"/>
            <element name="addNumbers4Response" type="tns:addNumbersResponse"/>

            <complexType name="addNumbers">
                <sequence>
                    <element name="number1" type="xsd:int"/>
                    <element name="number2" type="xsd:int"/>
                </sequence>
            </complexType>
            <element name="addNumbers" type="tns:addNumbers"/>
            <element name="addNumbers2" type="tns:addNumbers"/>
            <element name="addNumbers3" type="tns:addNumbers"/>
            <element name="addNumbers4" type="tns:addNumbers"/>
            <element name="addNumbers5" type="tns:addNumbers"/>

            <element name="AddNumbersFault" type="tns:AddNumbersFault"/>
            <complexType name="AddNumbersFault">
                <sequence>
                    <element name="detail" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
        </xsd:schema>
    </types>
    <message name="addNumbers">
        <part name="parameters" element="tns:addNumbers"/>
    </message>
    <message name="addNumbersResponse">
        <part name="result" element="tns:addNumbersResponse"/>
    </message>
    <message name="addNumbers2Response">
        <part name="result" element="tns:addNumbers2Response"/>
    </message>
    <message name="addNumbers3Response">
        <part name="result" element="tns:addNumbers3Response"/>
    </message>
    <message name="addNumbers4Response">
        <part name="result" element="tns:addNumbers4Response"/>
    </message>
    <message name="addNumbersFault">
        <part name="AddNumbersFault" element="tns:AddNumbersFault"/>
    </message>
    <portType name="AddNumbersPortType">
        <operation name="addNumbers1">
            <input message="tns:addNumbers"/>
            <output message="tns:addNumbersResponse"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers2">
            <input message="tns:addNumbers" wsaw:Action="add2InAction"/>
            <output message="tns:addNumbers2Response" wsaw:Action="add2OutAction"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers3">
            <input message="tns:addNumbers"/>
            <output message="tns:addNumbers3Response"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers4">
            <input message="tns:addNumbers"/>
            <output message="tns:addNumbers4Response"/>
            <fault name="addNumbersFault" message="tns:addNumbersFault"/>
        </operation>
        <operation name="addNumbers5">
            <input message="tns:addNumbers"/>
        </operation>
    </portType>
    <binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
        <wsaw:UsingAddressing wsdl:required="true"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addNumbers1">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addNumbersFault">
                <soap:fault name="addNumbersFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addNumbers5">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="AddNumbersService">
        <port name="AddNumbersPort" binding="tns:AddNumbersBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
